In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

# 1. Importar librerías
import re
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import LabelEncoder, StandardScaler
import folium
from folium.plugins import HeatMap


# Cargar la base de datos
data = pd.read_csv('data/conjunto_de_datos_iter_08CSV20.csv')

data.head(15)

,NOM_ENT,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,Chihuahua,Chihuahua,1,Chihuahua,"106°04'34.704"" W","28°38'12.458"" N",1424.0,925762,474776,450986,...,281424,209425,140569,107030,63999,4721,7058,73517,1036,13
1,Chihuahua,Chihuahua,26,Francisco I. Madero (San Isidro Calabacillas),"106°18'03.973"" W","28°45'28.822"" N",1667.0,38,13,25,...,17,0,16,0,0,0,2,19,0,1
2,Chihuahua,Chihuahua,234,Abraham González,"105°43'35.052"" W","28°23'27.335"" N",1303.0,5,2,3,...,3,0,3,0,0,0,0,3,0,1
3,Chihuahua,Chihuahua,235,Rancho los Aguilares,"106°12'39.328"" W","28°08'58.961"" N",1472.0,94,51,43,...,27,7,22,0,1,2,2,24,0,1
4,Chihuahua,Chihuahua,236,El Alamillo,"106°11'34.182"" W","28°15'39.237"" N",1588.0,39,18,21,...,17,0,18,0,0,0,0,18,0,1
5,Chihuahua,Chihuahua,237,Rancho el Alamillo,"106°14'03.657"" W","28°08'29.068"" N",1508.0,118,66,52,...,29,1,22,1,0,3,5,33,2,1
6,Chihuahua,Chihuahua,240,Ejido Bella Vista,"106°25'01.916"" W","29°03'22.652"" N",1675.0,90,42,48,...,27,26,25,0,1,0,1,4,0,1
7,Chihuahua,Chihuahua,241,Ciénega de Ortíz (Boca de Ciénega),"106°11'40.847"" W","28°07'56.071"" N",1497.0,48,24,24,...,17,0,13,0,1,3,5,24,3,1
8,Chihuahua,Chihuahua,242,Carrizalillo,"106°01'33.156"" W","28°31'56.797"" N",1562.0,29,11,18,...,11,2,6,0,0,0,2,9,0,1
9,Chihuahua,Chihuahua,243,La Casita,"106°06'54.946"" W","28°13'02.762"" N",1633.0,318,168,150,...,75,2,76,0,0,5,17,108,2,2
10,Chihuahua,Chihuahua,245,Ciénega de los Padres,"105°44'01.528"" W","28°22'53.551"" N",1301.0,7,2,5,...,4,0,2,0,0,0,1,5,0,1
11,Chihuahua,Chihuahua,246,La Cieneguita,"106°10'40.945"" W","28°08'36.874"" N",1512.0,39,20,19,...,12,0,10,0,0,2,1,11,0,1
12,Chihuahua,Chihuahua,247,Ejido Estación Terrazas y Minas del Cobre,"106°15'11.055"" W","28°57'19.710"" N",1583.0,445,221,224,...,125,11,90,1,0,2,2,101,0,2
13,Chihuahua,Chihuahua,248,La Concha,"106°13'21.086"" W","28°09'24.466"" N",1477.0,22,11,11,...,7,0,5,0,0,0,1,6,0,1
14,Chihuahua,Chihuahua,251,Colonia Cuauhtémoc (Punta de Agua),"106°21'10.588"" W","28°54'58.216"" N",1686.0,38,17,21,...,11,2,3,0,0,0,1,10,0,1

In [2]:
# Saber que tipo de datos tenemos muestra todos
data.dtypes

NOM_ENT        object
NOM_MUN        object
LOC             int64
NOM_LOC        object
LONGITUD       object
                ...
VPH_SINRTV     object
VPH_SINLTC     object
VPH_SINCINT    object
VPH_SINTIC     object
TAMLOC         object
Length: 284, dtype: object

In [3]:
# Qué tipo de datos tenemos en las columnas LONGITUD y LATITUD Y ALTITUD
data[['LONGITUD', 'LATITUD', 'ALTITUD']].dtypes

LONGITUD     object
LATITUD      object
ALTITUD     float64
dtype: object

In [4]:
data.head()

,NOM_ENT,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,Chihuahua,Chihuahua,1,Chihuahua,"106°04'34.704"" W","28°38'12.458"" N",1424.0,925762,474776,450986,...,281424,209425,140569,107030,63999,4721,7058,73517,1036,13
1,Chihuahua,Chihuahua,26,Francisco I. Madero (San Isidro Calabacillas),"106°18'03.973"" W","28°45'28.822"" N",1667.0,38,13,25,...,17,0,16,0,0,0,2,19,0,1
2,Chihuahua,Chihuahua,234,Abraham González,"105°43'35.052"" W","28°23'27.335"" N",1303.0,5,2,3,...,3,0,3,0,0,0,0,3,0,1
3,Chihuahua,Chihuahua,235,Rancho los Aguilares,"106°12'39.328"" W","28°08'58.961"" N",1472.0,94,51,43,...,27,7,22,0,1,2,2,24,0,1
4,Chihuahua,Chihuahua,236,El Alamillo,"106°11'34.182"" W","28°15'39.237"" N",1588.0,39,18,21,...,17,0,18,0,0,0,0,18,0,1

In [6]:
df.columns()

NameError: name 'df' is not defined

In [5]:
# 2. Función para convertir coordenadas DMS a decimales

def dms_to_decimal(coord):
    match = re.match(r"(\d+)°(\d+)'([\d\.]+)\" ([NSEW])", str(coord))
    if not match:
        return None
    
    grados = int(match.group(1))
    minutos = int(match.group(2))
    segundos = float(match.group(3))
    direccion = match.group(4)
    
    decimal = grados + minutos/60 + segundos/3600
    
    if direccion in ["S", "W"]:
        decimal = -decimal
    
    return decimal

In [6]:
data.head()

,NOM_ENT,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,Chihuahua,Chihuahua,1,Chihuahua,"106°04'34.704"" W","28°38'12.458"" N",1424.0,925762,474776,450986,...,281424,209425,140569,107030,63999,4721,7058,73517,1036,13
1,Chihuahua,Chihuahua,26,Francisco I. Madero (San Isidro Calabacillas),"106°18'03.973"" W","28°45'28.822"" N",1667.0,38,13,25,...,17,0,16,0,0,0,2,19,0,1
2,Chihuahua,Chihuahua,234,Abraham González,"105°43'35.052"" W","28°23'27.335"" N",1303.0,5,2,3,...,3,0,3,0,0,0,0,3,0,1
3,Chihuahua,Chihuahua,235,Rancho los Aguilares,"106°12'39.328"" W","28°08'58.961"" N",1472.0,94,51,43,...,27,7,22,0,1,2,2,24,0,1
4,Chihuahua,Chihuahua,236,El Alamillo,"106°11'34.182"" W","28°15'39.237"" N",1588.0,39,18,21,...,17,0,18,0,0,0,0,18,0,1

In [7]:
data.dtypes

NOM_ENT        object
NOM_MUN        object
LOC             int64
NOM_LOC        object
LONGITUD       object
                ...
VPH_SINRTV     object
VPH_SINLTC     object
VPH_SINCINT    object
VPH_SINTIC     object
TAMLOC         object
Length: 284, dtype: object

In [8]:
# Función para convertir coordenadas DMS a decimales
def dms_to_decimal(dms_str):
    # Expresión regular para extraer grados, minutos y segundos
    parts = re.split('[^\d\w]+', dms_str)
    degrees = float(parts[0])
    minutes = float(parts[1])
    seconds = float(parts[2])
    direction = parts[3]

    decimal = degrees + minutes / 60 + seconds / 3600
    if direction in ['S', 'W']:
        decimal = -decimal
    return decimal

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipykernel_30824/653082608.py:4: SyntaxWarning: invalid escape sequence '\d'
  parts = re.split('[^\d\w]+', dms_str)

In [9]:
data.head()

,NOM_ENT,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,Chihuahua,Chihuahua,1,Chihuahua,"106°04'34.704"" W","28°38'12.458"" N",1424.0,925762,474776,450986,...,281424,209425,140569,107030,63999,4721,7058,73517,1036,13
1,Chihuahua,Chihuahua,26,Francisco I. Madero (San Isidro Calabacillas),"106°18'03.973"" W","28°45'28.822"" N",1667.0,38,13,25,...,17,0,16,0,0,0,2,19,0,1
2,Chihuahua,Chihuahua,234,Abraham González,"105°43'35.052"" W","28°23'27.335"" N",1303.0,5,2,3,...,3,0,3,0,0,0,0,3,0,1
3,Chihuahua,Chihuahua,235,Rancho los Aguilares,"106°12'39.328"" W","28°08'58.961"" N",1472.0,94,51,43,...,27,7,22,0,1,2,2,24,0,1
4,Chihuahua,Chihuahua,236,El Alamillo,"106°11'34.182"" W","28°15'39.237"" N",1588.0,39,18,21,...,17,0,18,0,0,0,0,18,0,1

In [10]:

# Eliminar filas donde LATITUD o LONGITUD son NaN antes de convertir
data = data.dropna(subset=["LATITUD", "LONGITUD"])

# Convertir columnas de coordenadas
data["LAT_DECIMAL"] = data["LATITUD"].apply(lambda x: dms_to_decimal(str(x)))
data["LON_DECIMAL"] = data["LONGITUD"].apply(lambda x: dms_to_decimal(str(x)))

In [11]:
# 2. Definición ampliada de las variables clave para clustering, AHORA INCLUYENDO GEOGRAFÍA
data_uno = [
    # Coordenadas (NUEVAS INCLUSIONES)
    'LON_DECIMAL', 'LAT_DECIMAL', 'ALTITUD', 
    # Desocupación/Vivienda
    'VIVTOT', 'VIVPAR_HAB', 'VIVPAR_DES', 
    # Demografía/Magnitud
    'POBTOT', 'POB_DISCAP', 
    # Socioeconómico/Vulnerabilidad
    'GRAPROES', 'PSIND_LIM', 
    # Vivienda/Marginación
    'VPH_PISODIRT', 'VPH_NODREN', 'VPH_SINTIC', 
    # Riqueza/Bienes
    'VPH_AUTOM'
]
df_cluster = data[data_uno].copy()

KeyError: "['POB_DISCAP', 'VPH_PISODIRT'] not in index"

In [ ]:
data_uno.head()

AttributeError: 'list' object has no attribute 'head'