In [270]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [271]:
df1 = pd.read_excel("data/IPH_robos_2015_2020_tecmty.xlsx")
df2 = pd.read_excel("data/IPH_robos_completo_2021-2025.xlsx")

In [272]:
df2.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,AÑO,MES,DIA,DIA_DE_LA_SEMANA,ESTACION,DOW
0,31992,2024-03-01,4,34,ROBO A NEGOCIO,NO,28.669359,-106.027356,Morelos,50,2024,3,1,Friday,Primavera,4
1,32400,2024-03-01,9,31,ROBO A NEGOCIO,NO,28.626746,-106.118646,Diana,32,2024,3,1,Friday,Primavera,4
2,32558,2024-03-01,11,35,ROBO DE VEHICULO,NO,28.716537,-106.093005,Colón,15,2024,3,1,Friday,Primavera,4
3,31989,2024-03-01,16,33,ROBO A CASA HABITACION,NO,28.646164,-106.079649,Villa,25,2024,3,1,Friday,Primavera,4
4,32938,2024-03-01,23,55,ROBO DE VEHICULO,NO,28.597802,-106.083305,Zapata,78,2024,3,1,Friday,Primavera,4

In [273]:
# De df2 quiero eliminar las columnas "DOW", "ESTACION", "DIA", "DIA_DE_LA_SEMANA", "MES", "AÑO"
df2 = df2.drop(columns=["DOW", "ESTACION", "DIA", "DIA_DE_LA_SEMANA", "MES", "AÑO"])

In [274]:
df2.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,31992,2024-03-01,4,34,ROBO A NEGOCIO,NO,28.669359,-106.027356,Morelos,50
1,32400,2024-03-01,9,31,ROBO A NEGOCIO,NO,28.626746,-106.118646,Diana,32
2,32558,2024-03-01,11,35,ROBO DE VEHICULO,NO,28.716537,-106.093005,Colón,15
3,31989,2024-03-01,16,33,ROBO A CASA HABITACION,NO,28.646164,-106.079649,Villa,25
4,32938,2024-03-01,23,55,ROBO DE VEHICULO,NO,28.597802,-106.083305,Zapata,78

In [275]:
# Juntar los dos dataframes
df = pd.concat([df1, df2], ignore_index=True)

In [276]:
df.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13

In [277]:
df.dtypes

FOLIO                object
FECHA        datetime64[ns]
HORA                  int64
MINUTO                int64
TIPO                 object
VIOLENCIA            object
LATITUD             float64
LONGITUD            float64
DISTRITO             object
CUADRANTE             int64
dtype: object

In [278]:
df.isnull().sum()

FOLIO        0
FECHA        0
HORA         0
MINUTO       0
TIPO         0
VIOLENCIA    0
LATITUD      0
LONGITUD     0
DISTRITO     0
CUADRANTE    0
dtype: int64

In [279]:
df.duplicated(subset=['FOLIO']).sum()

np.int64(836)

In [280]:
df['AÑO'] = pd.DatetimeIndex(df['FECHA']).year
df['MES'] = pd.DatetimeIndex(df['FECHA']).month
df['DIA'] = pd.DatetimeIndex(df['FECHA']).day
df.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,AÑO,MES,DIA
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32,2015,1,1
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17,2015,1,1
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45,2015,1,1
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68,2015,1,1
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13,2015,1,1

In [281]:
# Crear la columna NOMBRE_DIA con el nombre del día de la semana
df['NOMBRE_DIA'] = df['FECHA'].dt.day_name()
df.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,AÑO,MES,DIA,NOMBRE_DIA
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32,2015,1,1,Thursday
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17,2015,1,1,Thursday
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45,2015,1,1,Thursday
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68,2015,1,1,Thursday
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13,2015,1,1,Thursday

In [282]:
df.groupby(['DISTRITO', 'TIPO']).size().unstack(fill_value=0)

TIPO      ROBO A CASA HABITACION  ROBO A NEGOCIO  ROBO DE VEHICULO
DISTRITO
Colón                       3882            2859              1154
Diana                       1091            1483               541
Morelos                     4405            2583              1199
Villa                       2921            3703              1206
Zapata                      2229            2410               946
Ángel                        329            1308               377

In [283]:
# Dividir el df por tipo de robo y guardarlos en diferentes dataframes
df_negocio = df[df['TIPO'] == 'ROBO A NEGOCIO']
df_casa = df[df['TIPO'] == 'ROBO A CASA HABITACION']
df_calle = df[df['TIPO'] == 'ROBO DE VEHICULO']

In [284]:
df_negocio.shape

(14346, 14)

In [285]:
df_casa.shape

(14857, 14)

In [286]:
df_calle.shape

(5423, 14)

In [287]:
df_negocio.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,AÑO,MES,DIA,NOMBRE_DIA
5,63240,2015-01-01,99,99,ROBO A NEGOCIO,SI,28.733269,-106.114997,Colón,8,2015,1,1,Thursday
7,63381X,2015-01-02,99,99,ROBO A NEGOCIO,NO,28.770601,-106.165873,Colón,3,2015,1,2,Friday
9,85415,2015-01-02,99,99,ROBO A NEGOCIO,SI,28.613825,-106.057652,Zapata,76,2015,1,2,Friday
10,147835CX,2015-01-02,99,99,ROBO A NEGOCIO,SI,28.639192,-106.072997,Ángel,37,2015,1,2,Friday
13,68586,2015-01-03,99,99,ROBO A NEGOCIO,NO,28.688356,-106.084153,Villa,24,2015,1,3,Saturday

In [288]:
cuadrante_counts = pd.DataFrame({'CUADRANTE': range(1, 79)})
cuadrante_counts.head()

   CUADRANTE
0          1
1          2
2          3
3          4
4          5

In [296]:
# Crear la columna NUM_ROBS y agregarla a cuadrante_counts y la información la vas a agarrar del df de robos completo
cuadrante_counts = pd.DataFrame({'CUADRANTE': range(1, 79)})
# contar robos por cuadrante en el df principal y mapear a la tabla de cuadrantes
cuenta_por_cuadrante = df['CUADRANTE'].value_counts().sort_index()
cuadrante_counts['NUM_ROBS'] = cuadrante_counts['CUADRANTE'].map(cuenta_por_cuadrante).fillna(0).astype(int)
cuadrante_counts

    CUADRANTE  NUM_ROBS
0           1       135
1           2         3
2           3       710
3           4       357
4           5         8
..        ...       ...
73         74       438
74         75       513
75         76       276
76         77       705
77         78       203

[78 rows x 2 columns]

In [ ]:
# Elimina el indice de la tabla
cuadrante_counts = cuadrante_counts.reset_index(drop=True)
cuadrante_counts

In [ ]:
# De esta nueva tabla, divide por TIPO de robo y crea una tabla para cada tipo de robo con el número de robos por cuadrante
cuadrante_negocio = df_negocio['CUADRANTE'].value_counts().reset_index()
cuadrante_negocio.columns = ['CUADRANTE', 'NUM_ROBOS_NEGOCIO']
cuadrante_negocio = cuadrante_negocio.sort_values(by='CUADRANTE')
cuadrante_negocio = cuadrante_negocio.reset_index(drop=True)
cuadrante_negocio

In [ ]:
cuadrante_casa = df_casa['CUADRANTE'].value_counts().reset_index()
cuadrante_casa.columns = ['CUADRANTE', 'NUM_ROBOS_CASA']
cuadrante_casa = cuadrante_casa.sort_values(by='CUADRANTE')
cuadrante_casa = cuadrante_casa.reset_index(drop=True)
cuadrante_casa

In [ ]:
cuadrante_calle = df_calle['CUADRANTE'].value_counts().reset_index()
cuadrante_calle.columns = ['CUADRANTE', 'NUM_ROBOS_CALLE']
cuadrante_calle = cuadrante_calle.sort_values(by='CUADRANTE')
cuadrante_calle = cuadrante_calle.reset_index(drop=True)
cuadrante_calle

In [ ]:
# Lee las bases de datos de poblacion cuadrante y la de unidades economicas cuadrantes
poblacion_cuadrante = pd.read_excel("data/poblacion cuadrantes.xlsx")
unidades_economicas_cuadrante = pd.read_excel("data/unidades economicas cuadrantes.xlsx")

In [ ]:
poblacion_cuadrante.head()

In [ ]:
unidades_economicas_cuadrante.head()

In [ ]:
# Cambia los nombres de poblacion_cuadrante a CUADRANTE y POBLACION
poblacion_cuadrante.columns = ['CUADRANTE', 'POBLACION']

In [ ]:
# unir cuadrantes_df con poblacion_cuadrantes por la columna CUADRANTE

cuadrante_negocio = pd.merge(cuadrante_negocio, poblacion_cuadrante, on='CUADRANTE', how='left')
cuadrante_negocio.head()

In [ ]:
cuadrante_vehiculo = pd.merge(cuadrante_calle, poblacion_cuadrante, on='CUADRANTE', how='left')
cuadrante_vehiculo.head()

In [ ]:
cuadrante_casa = pd.merge(cuadrante_casa, poblacion_cuadrante, on='CUADRANTE', how='left')
cuadrante_casa.head()

In [ ]:
# De los 3 cuadrantes creados anteriormente, los NAN susituimos por 0 en la columna de POBLACION
cuadrante_negocio['POBLACION'].fillna(0, inplace=True)
cuadrante_vehiculo['POBLACION'].fillna(0, inplace=True)
cuadrante_casa['POBLACION'].fillna(0, inplace=True)

In [ ]:
cuadrante_negocio.head()

In [ ]:
# Quita el numero decimal en la columna de POBLACION
cuadrante_negocio['POBLACION'] = cuadrante_negocio['POBLACION'].astype(int)
cuadrante_vehiculo['POBLACION'] = cuadrante_vehiculo['POBLACION'].astype(int)
cuadrante_casa['POBLACION'] = cuadrante_casa['POBLACION'].astype(int)

In [ ]:
cuadrante_negocio.head()

In [ ]:
def add_violence_cols(cuadrante_df, source_df):
    # normalizar texto y agrupar por CUADRANTE contando SI y NO
    s = source_df['VIOLENCIA'].fillna('').astype(str).str.strip().str.upper()
    agg = source_df.assign(VIOL=s).groupby('CUADRANTE').agg(
        CON_VIOLENCIA = ('VIOL', lambda x: (x == 'SI').sum()),
        SIN_VIOLENCIA = ('VIOL', lambda x: (x == 'NO').sum())
    ).reset_index()
    # merge con el dataframe de cuadrantes y completar con 0
    res = pd.merge(cuadrante_df, agg, on='CUADRANTE', how='left')
    res['CON_VIOLENCIA'].fillna(0, inplace=True)
    res['SIN_VIOLENCIA'].fillna(0, inplace=True)
    res['CON_VIOLENCIA'] = res['CON_VIOLENCIA'].astype(int)
    res['SIN_VIOLENCIA'] = res['SIN_VIOLENCIA'].astype(int)
    return res

cuadrante_negocio = add_violence_cols(cuadrante_negocio, df_negocio)
cuadrante_casa = add_violence_cols(cuadrante_casa, df_casa)
cuadrante_vehiculo = add_violence_cols(cuadrante_vehiculo, df_calle)

In [ ]:
cuadrante_negocio.head()

In [ ]:
def add_month_columns(cuadrante_df, source_df):
    # Pivot: cuenta por CUADRANTE y MES
    pivot = source_df.groupby(['CUADRANTE', 'MES']).size().unstack(fill_value=0)
    # Asegurar columnas de 1 a 12
    for m in range(1, 13):
        if m not in pivot.columns:
            pivot[m] = 0
    pivot = pivot[sorted(pivot.columns)]
    # Renombrar columnas a MES_1 ... MES_12
    pivot.columns = [f'MES_{int(c)}' for c in pivot.columns]
    pivot = pivot.reset_index()
    # Merge con el dataframe de cuadrantes
    res = pd.merge(cuadrante_df, pivot, on='CUADRANTE', how='left')
    # Rellenar NaN y casteo a int
    mes_cols = [f'MES_{i}' for i in range(1, 13)]
    for col in mes_cols:
        if col not in res.columns:
            res[col] = 0
        res[col].fillna(0, inplace=True)
        res[col] = res[col].astype(int)
    return res

cuadrante_negocio = add_month_columns(cuadrante_negocio, df_negocio)
cuadrante_casa = add_month_columns(cuadrante_casa, df_casa)
cuadrante_vehiculo = add_month_columns(cuadrante_vehiculo, df_calle)

In [ ]:
cuadrante_negocio.head()