In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_excel("data/IPH_robos_2015_2020_tecmty.xlsx")
df2 = pd.read_excel("data/IPH_robos_completo_2021-2025.xlsx")

In [3]:
df2.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,AÑO,MES,DIA,DIA_DE_LA_SEMANA,ESTACION,DOW
0,31992,2024-03-01,4,34,ROBO A NEGOCIO,NO,28.669359,-106.027356,Morelos,50,2024,3,1,Friday,Primavera,4
1,32400,2024-03-01,9,31,ROBO A NEGOCIO,NO,28.626746,-106.118646,Diana,32,2024,3,1,Friday,Primavera,4
2,32558,2024-03-01,11,35,ROBO DE VEHICULO,NO,28.716537,-106.093005,Colón,15,2024,3,1,Friday,Primavera,4
3,31989,2024-03-01,16,33,ROBO A CASA HABITACION,NO,28.646164,-106.079649,Villa,25,2024,3,1,Friday,Primavera,4
4,32938,2024-03-01,23,55,ROBO DE VEHICULO,NO,28.597802,-106.083305,Zapata,78,2024,3,1,Friday,Primavera,4

In [4]:
# De df2 quiero eliminar las columnas "DOW", "ESTACION", "DIA", "DIA_DE_LA_SEMANA", "MES", "AÑO"
df2 = df2.drop(columns=["DOW", "ESTACION", "DIA", "DIA_DE_LA_SEMANA", "MES", "AÑO"])

In [5]:
df2.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,31992,2024-03-01,4,34,ROBO A NEGOCIO,NO,28.669359,-106.027356,Morelos,50
1,32400,2024-03-01,9,31,ROBO A NEGOCIO,NO,28.626746,-106.118646,Diana,32
2,32558,2024-03-01,11,35,ROBO DE VEHICULO,NO,28.716537,-106.093005,Colón,15
3,31989,2024-03-01,16,33,ROBO A CASA HABITACION,NO,28.646164,-106.079649,Villa,25
4,32938,2024-03-01,23,55,ROBO DE VEHICULO,NO,28.597802,-106.083305,Zapata,78

In [6]:
# Juntar los dos dataframes
df = pd.concat([df1, df2], ignore_index=True)

In [7]:
df.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13

In [8]:
df.dtypes

FOLIO                object
FECHA        datetime64[ns]
HORA                  int64
MINUTO                int64
TIPO                 object
VIOLENCIA            object
LATITUD             float64
LONGITUD            float64
DISTRITO             object
CUADRANTE             int64
dtype: object

In [9]:
df.isnull().sum()

FOLIO        0
FECHA        0
HORA         0
MINUTO       0
TIPO         0
VIOLENCIA    0
LATITUD      0
LONGITUD     0
DISTRITO     0
CUADRANTE    0
dtype: int64

In [10]:
df.duplicated(subset=['FOLIO']).sum()

np.int64(836)

In [11]:
df['AÑO'] = pd.DatetimeIndex(df['FECHA']).year
df['MES'] = pd.DatetimeIndex(df['FECHA']).month
df['DIA'] = pd.DatetimeIndex(df['FECHA']).day
df.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,AÑO,MES,DIA
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32,2015,1,1
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17,2015,1,1
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45,2015,1,1
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68,2015,1,1
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13,2015,1,1

In [12]:
# Crear la columna NOMBRE_DIA con el nombre del día de la semana
df['NOMBRE_DIA'] = df['FECHA'].dt.day_name()
df.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,AÑO,MES,DIA,NOMBRE_DIA
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32,2015,1,1,Thursday
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17,2015,1,1,Thursday
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45,2015,1,1,Thursday
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68,2015,1,1,Thursday
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13,2015,1,1,Thursday

In [13]:
df.groupby(['DISTRITO', 'TIPO']).size().unstack(fill_value=0)

TIPO      ROBO A CASA HABITACION  ROBO A NEGOCIO  ROBO DE VEHICULO
DISTRITO
Colón                       3882            2859              1154
Diana                       1091            1483               541
Morelos                     4405            2583              1199
Villa                       2921            3703              1206
Zapata                      2229            2410               946
Ángel                        329            1308               377

In [14]:
# Dividir el df por tipo de robo y guardarlos en diferentes dataframes
df_negocio = df[df['TIPO'] == 'ROBO A NEGOCIO']
df_casa = df[df['TIPO'] == 'ROBO A CASA HABITACION']
df_calle = df[df['TIPO'] == 'ROBO DE VEHICULO']

In [15]:
df_negocio.shape

(14346, 14)

In [16]:
df_casa.shape

(14857, 14)

In [17]:
df_calle.shape

(5423, 14)

In [18]:
df_negocio.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,AÑO,MES,DIA,NOMBRE_DIA
5,63240,2015-01-01,99,99,ROBO A NEGOCIO,SI,28.733269,-106.114997,Colón,8,2015,1,1,Thursday
7,63381X,2015-01-02,99,99,ROBO A NEGOCIO,NO,28.770601,-106.165873,Colón,3,2015,1,2,Friday
9,85415,2015-01-02,99,99,ROBO A NEGOCIO,SI,28.613825,-106.057652,Zapata,76,2015,1,2,Friday
10,147835CX,2015-01-02,99,99,ROBO A NEGOCIO,SI,28.639192,-106.072997,Ángel,37,2015,1,2,Friday
13,68586,2015-01-03,99,99,ROBO A NEGOCIO,NO,28.688356,-106.084153,Villa,24,2015,1,3,Saturday

In [19]:
cuadrante_counts = pd.DataFrame({'CUADRANTE': range(1, 79)})
cuadrante_counts.head()

   CUADRANTE
0          1
1          2
2          3
3          4
4          5

In [20]:
# Crear una columna nueva llamada "NUM_ROBOS" que contenga el número de robos en cada cuadrante pero no incluyas df_negocio y quitale el decimal
cuadrante_counts['NUM_ROBOS'] = cuadrante_counts['CUADRANTE'].map(df['CUADRANTE'].value_counts())
cuadrante_counts['NUM_ROBOS'] = cuadrante_counts['NUM_ROBOS'].fillna(0).astype(int)

In [21]:
cuadrante_counts.head()

   CUADRANTE  NUM_ROBOS
0          1        135
1          2          3
2          3        710
3          4        357
4          5          8

In [22]:
# Crear la columna NUM_ROBS y agregarla a cuadrante_counts y la información la vas a agarrar del df de robos completo
cuadrante_counts = pd.DataFrame({'CUADRANTE': range(1, 79)})
# contar robos por cuadrante en el df principal y mapear a la tabla de cuadrantes
cuenta_por_cuadrante = df['CUADRANTE'].value_counts().sort_index()
cuadrante_counts['NUM_ROBS'] = cuadrante_counts['CUADRANTE'].map(cuenta_por_cuadrante).fillna(0).astype(int)
cuadrante_counts

    CUADRANTE  NUM_ROBS
0           1       135
1           2         3
2           3       710
3           4       357
4           5         8
..        ...       ...
73         74       438
74         75       513
75         76       276
76         77       705
77         78       203

[78 rows x 2 columns]

In [23]:
# De esta nueva tabla, divide por TIPO de robo y crea una tabla para cada tipo de robo con el número de robos por cuadrante
cuadrante_negocio = df_negocio['CUADRANTE'].value_counts().reset_index()
cuadrante_negocio.columns = ['CUADRANTE', 'NUM_ROBOS_NEGOCIO']
cuadrante_negocio = cuadrante_negocio.sort_values(by='CUADRANTE')
cuadrante_negocio = cuadrante_negocio.reset_index(drop=True)
cuadrante_negocio

    CUADRANTE  NUM_ROBOS_NEGOCIO
0           1                 24
1           3                148
2           4                 56
3           5                  1
4           6                240
..        ...                ...
71         74                103
72         75                220
73         76                 63
74         77                363
75         78                 53

[76 rows x 2 columns]

In [24]:
cuadrante_casa = df_casa['CUADRANTE'].value_counts().reset_index()
cuadrante_casa.columns = ['CUADRANTE', 'NUM_ROBOS_CASA']
cuadrante_casa = cuadrante_casa.sort_values(by='CUADRANTE')
cuadrante_casa = cuadrante_casa.reset_index(drop=True)
cuadrante_casa

    CUADRANTE  NUM_ROBOS_CASA
0           1             103
1           2               2
2           3             500
3           4             248
4           5               6
..        ...             ...
72         74             260
73         75             206
74         76             137
75         77             225
76         78             114

[77 rows x 2 columns]

In [25]:
cuadrante_calle = df_calle['CUADRANTE'].value_counts().reset_index()
cuadrante_calle.columns = ['CUADRANTE', 'NUM_ROBOS_CALLE']
cuadrante_calle = cuadrante_calle.sort_values(by='CUADRANTE')
cuadrante_calle = cuadrante_calle.reset_index(drop=True)
cuadrante_calle

    CUADRANTE  NUM_ROBOS_CALLE
0           1                8
1           2                1
2           3               62
3           4               53
4           5                1
..        ...              ...
72         74               75
73         75               87
74         76               76
75         77              117
76         78               36

[77 rows x 2 columns]

In [26]:
# Lee las bases de datos de poblacion cuadrante y la de unidades economicas cuadrantes
poblacion_cuadrante = pd.read_excel("data/poblacion cuadrantes.xlsx")
unidades_economicas_cuadrante = pd.read_excel("data/unidades economicas cuadrantes.xlsx")

In [27]:
poblacion_cuadrante.head()

   cuadrante  poblacion
0          3      18838
1          4      20919
2          5        391
3          6      24485
4          7      31984

In [28]:
unidades_economicas_cuadrante.head()

,cuadrante,id,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
0,50,10669871,08019313112000021000000000U3,COSTURAS,,313112,Preparaci1n e hilado de fibras blandas naturales,0 a 5 personas,CALLE,73,...,Chihuahua,2058,28,6145040074,,,Fijo,28.650842,-106.020909,2024-11
1,71,11293279,08019315223000801000000000U1,COSTURAS,,315223,Confecci,0 a 5 personas,CALLE,11,...,Chihuahua,3817,15,6142293135,,,Fijo,28.626337,-106.051989,2024-11
2,16,10495086,08019315225000901000000000U4,COSTURA GLORIA,,315225,ConfecciGn de prendas de vestir sobre medida,0 a 5 personas,CALLE,M OJEDA,...,Chihuahua,5885,7,,,,Fijo,28.690292,-106.125381,2024-11
3,37,9559343,08019315225000811000000000U5,COSTURA,,315225,Confecci2n de prendas de vestir sobre medida,0 a 5 personas,CALLE,JULIAN CARRILLO,...,Chihuahua,3319,7,,,,Fijo,28.638060,-106.080756,2024-11
4,9,565881,08019311812003541000000000U4,PANADERIA MINERAL,,311812,PanificaciMn tradicional,0 a 5 personas,CALLE,MINERAL TERRENATE,...,Chihuahua,6775,2,6142357405,,,Fijo,28.741614,-106.106620,2014-12

In [29]:
# Cambia los nombres de poblacion_cuadrante a CUADRANTE y POBLACION
poblacion_cuadrante.columns = ['CUADRANTE', 'POBLACION']

In [30]:
# unir cuadrantes_df con poblacion_cuadrantes por la columna CUADRANTE

cuadrante_negocio = pd.merge(cuadrante_negocio, poblacion_cuadrante, on='CUADRANTE', how='left')
cuadrante_negocio.head()

   CUADRANTE  NUM_ROBOS_NEGOCIO  POBLACION
0          1                 24        NaN
1          3                148    18838.0
2          4                 56    20919.0
3          5                  1      391.0
4          6                240    24485.0

In [31]:
cuadrante_vehiculo = pd.merge(cuadrante_calle, poblacion_cuadrante, on='CUADRANTE', how='left')
cuadrante_vehiculo.head()

   CUADRANTE  NUM_ROBOS_CALLE  POBLACION
0          1                8        NaN
1          2                1        NaN
2          3               62    18838.0
3          4               53    20919.0
4          5                1      391.0

In [32]:
cuadrante_casa = pd.merge(cuadrante_casa, poblacion_cuadrante, on='CUADRANTE', how='left')
cuadrante_casa.head()

   CUADRANTE  NUM_ROBOS_CASA  POBLACION
0          1             103        NaN
1          2               2        NaN
2          3             500    18838.0
3          4             248    20919.0
4          5               6      391.0

In [33]:
# De los 3 cuadrantes creados anteriormente, los NAN susituimos por 0 en la columna de POBLACION
cuadrante_negocio['POBLACION'].fillna(0, inplace=True)
cuadrante_vehiculo['POBLACION'].fillna(0, inplace=True)
cuadrante_casa['POBLACION'].fillna(0, inplace=True)

/tmp/ipykernel_20372/3526651780.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cuadrante_negocio['POBLACION'].fillna(0, inplace=True)
/tmp/ipykernel_20372/3526651780.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cuadrante_vehiculo['POBLACION'].fillna(0, inplace=True)
/tmp/ipykernel_20372/3526651780.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cuadrante_casa['POBLACION'].fillna(0, inplace=True)

In [34]:
cuadrante_negocio.head()

   CUADRANTE  NUM_ROBOS_NEGOCIO  POBLACION
0          1                 24        0.0
1          3                148    18838.0
2          4                 56    20919.0
3          5                  1      391.0
4          6                240    24485.0

In [35]:
# Quita el numero decimal en la columna de POBLACION
cuadrante_negocio['POBLACION'] = cuadrante_negocio['POBLACION'].astype(int)
cuadrante_vehiculo['POBLACION'] = cuadrante_vehiculo['POBLACION'].astype(int)
cuadrante_casa['POBLACION'] = cuadrante_casa['POBLACION'].astype(int)

In [36]:
cuadrante_negocio.head()

   CUADRANTE  NUM_ROBOS_NEGOCIO  POBLACION
0          1                 24          0
1          3                148      18838
2          4                 56      20919
3          5                  1        391
4          6                240      24485

In [37]:
def add_violence_cols(cuadrante_df, source_df):
    # normalizar texto y agrupar por CUADRANTE contando SI y NO
    s = source_df['VIOLENCIA'].fillna('').astype(str).str.strip().str.upper()
    agg = source_df.assign(VIOL=s).groupby('CUADRANTE').agg(
        CON_VIOLENCIA = ('VIOL', lambda x: (x == 'SI').sum()),
        SIN_VIOLENCIA = ('VIOL', lambda x: (x == 'NO').sum())
    ).reset_index()
    # merge con el dataframe de cuadrantes y completar con 0
    res = pd.merge(cuadrante_df, agg, on='CUADRANTE', how='left')
    res['CON_VIOLENCIA'].fillna(0, inplace=True)
    res['SIN_VIOLENCIA'].fillna(0, inplace=True)
    res['CON_VIOLENCIA'] = res['CON_VIOLENCIA'].astype(int)
    res['SIN_VIOLENCIA'] = res['SIN_VIOLENCIA'].astype(int)
    return res

cuadrante_negocio = add_violence_cols(cuadrante_negocio, df_negocio)
cuadrante_casa = add_violence_cols(cuadrante_casa, df_casa)
cuadrante_vehiculo = add_violence_cols(cuadrante_vehiculo, df_calle)

/tmp/ipykernel_20372/2300417404.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res['CON_VIOLENCIA'].fillna(0, inplace=True)
/tmp/ipykernel_20372/2300417404.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res['SIN_VIOLENCIA'].fillna(0, inplace=True)
/tmp/ipykernel_20372/2300417404.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res['CON_VIOLENCIA'].fillna(0, inplace=True)
/tmp/ipykernel_20372/2300417404.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res['SIN_VIOLENCIA'].fillna(0, inplace=True)
/tmp/ipykernel_20372/2300417404.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res['CON_VIOLENCIA'].fillna(0, inplace=True)
/tmp/ipykernel_20372/2300417404.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res['SIN_VIOLENCIA'].fillna(0, inplace=True)

In [38]:
cuadrante_negocio.head()

   CUADRANTE  NUM_ROBOS_NEGOCIO  POBLACION  CON_VIOLENCIA  SIN_VIOLENCIA
0          1                 24          0              8             16
1          3                148      18838             71             77
2          4                 56      20919             30             26
3          5                  1        391              1              0
4          6                240      24485             77            163

In [ ]:
def add_month_columns(cuadrante_df, source_df):
        # Pivot: cuenta por CUADRANTE y MES
            pivot = source_df.groupby(['CUADRANTE', 'MES']).size().unstack(fill_value=0)
                # Asegurar columnas de 1 a 12
                    for m in range(1, 13):
                            if m not in pivot.columns:
                                        pivot[m] = 0
                                            pivot = pivot[sorted(pivot.columns)]
                                                # Renombrar columnas a MES_1 ... MES_12
                                                    pivot.columns = [f'MES_{int(c)}' for c in pivot.columns]
                                                        pivot = pivot.reset_index()
                                                            # Merge con el dataframe de cuadrantes
                                                                res = pd.merge(cuadrante_df, pivot, on='CUADRANTE', how='left')
                                                                    # Rellenar NaN y casteo a int
                                                                        mes_cols = [f'MES_{i}' for i in range(1, 13)]
                                                                            for col in mes_cols:
                                                                                    if col not in res.columns:
                                                                                                res[col] = 0
                                                                                                        res[col].fillna(0, inplace=True)
                                                                                                                res[col] = res[col].astype(int)
                                                                                                                    return res

                                                                                                                    cuadrante_negocio = add_month_columns(cuadrante_negocio, df_negocio)
                                                                                                                    cuadrante_casa = add_month_columns(cuadrante_casa, df_casa)
                                                                                                                    cuadrante_vehiculo = add_month_columns(cuadrante_vehiculo, df_calle)

/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)
/tmp/ipykernel_20372/1557736744.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  res[col].fillna(0, inplace=True)

In [40]:
cuadrante_negocio.head()

,CUADRANTE,NUM_ROBOS_NEGOCIO,POBLACION,CON_VIOLENCIA,SIN_VIOLENCIA,MES_1,MES_2,MES_3,MES_4,MES_5,MES_6,MES_7,MES_8,MES_9,MES_10,MES_11,MES_12
0,1,24,0,8,16,2,2,1,5,0,4,1,5,0,3,0,1
1,3,148,18838,71,77,13,13,11,13,8,8,12,17,17,13,12,11
2,4,56,20919,30,26,2,5,7,3,4,5,9,5,1,6,6,3
3,5,1,391,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4,6,240,24485,77,163,18,23,18,17,20,20,30,19,10,27,17,21