In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# lee las dos bases de datos que empiezan con IPH_robos_2021 y IPH_robos_2024
df1 = pd.read_excel("data/IPH_robos_2021_2024_tecmty.xlsx")
df2 = pd.read_excel("data/IPH_robos_ene-ago-2025_tecmty.xlsx")

In [3]:
# En df2 cambia el nombre de la columna VOLENCIA a VIOLENCIA
df2.rename(columns={'VOLENCIA': 'VIOLENCIA'}, inplace=True)

In [4]:
# Une las dos bases de datos
df = pd.concat([df1, df2], ignore_index=True)

In [5]:
df.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,3196367,2024-01-01 00:00:00,99,99,ROBO A CASA HABITACION,NO,28.719604,-106.142035,Colón,12
1,3196186,2024-01-01 00:00:00,99,99,ROBO DE VEHICULO,NO,28.717739,-106.089196,Colón,15
2,3196158,2024-01-01 00:00:00,99,99,ROBO A CASA HABITACION,NO,28.646452,-106.057703,Ángel,35
3,3195958,2024-01-01 00:00:00,99,99,ROBO A NEGOCIO,NO,28.621036,-106.030771,Zapata,77
4,3195921,2024-01-01 00:00:00,99,99,ROBO DE VEHICULO,NO,28.602171,-105.992235,Morelos,57

In [6]:
df.dtypes

FOLIO          int64
FECHA         object
HORA           int64
MINUTO         int64
TIPO          object
VIOLENCIA     object
LATITUD      float64
LONGITUD     float64
DISTRITO      object
CUADRANTE      int64
dtype: object

In [7]:
# Convertir la columna FECHA a tipo fecha
df['FECHA'] = pd.to_datetime(df['FECHA'], errors='coerce')